@font-face {
    font-family: 'Quicksand';
    src: url(assets/fonts/outfit/newfont/Quicksand-VariableFont_wght.ttf);
    
}

@font-face {
    font-family: 'YoungSerif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body{
    background-color: hsl(30, 54%, 90%);
    height: 1700px;
    font-family: 'Quicksand';
    font-size:16px;
    font-weight: 500;
    color:hsl(30, 10%, 34%);
}

.container{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height:1660px;
    width: 650px;
    border-radius: 20px;
    margin-top: 400px;
}

img{
    height: 250px;
    width: 550px;
    margin:30px 20px 20px 50px;
    border-radius:10px;
}

.data{
    border: 0px ;
    background-color:hsl(330, 100%, 98%);
    padding: 5px;
    border-radius: 10px;
    width:550px;
}

.recipe-main{
    margin-left: 30px;
    margin-right: 30px;
}

td{
    border-bottom: 1px solid black;
}

table{
    border-collapse:collapse;
    width:100%;
    height: 150px;
}

h1{
    font-family: 'YoungSerif';
    color:black;
}

h2{
    color:hsl(14, 45%, 36%);
}

h3{
    color:hsl(332, 51%, 32%);
}


.time li::marker{
    padding-left: 15px;
    color:hsl(332, 51%, 32%);
}

li::marker{
    color:hsl(14, 45%, 36%);
    padding-left: 15px;
    font-weight:900;
}

li{
    padding-left: 15px;
}

ol, li{
    margin-bottom:10px;
}

b{
    color:black;
}

span{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}